.about_us__section {
  min-height: 100vh;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2.75rem;

  @media (max-width: 1440px) {
    font-size: .975rem;
    margin-top: 2.15em;
  }

  @media (max-width: 1080px) {
    font-size: .95rem;
    margin-top: 2.3em;
  }

  @media (max-width: 720px) {
    font-size: .925rem;
    margin-top: 2.45em;
  }

  @media (max-width: 600px) {
    font-size: .9rem;
    margin-top: 2.6em;
  }
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main_header {
  font-size: 2.75rem;
  text-align: center;
  margin: 0 auto .65em;
  color: var(--clr-primary)
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 560px;
  margin-left: 1em;
  margin-right: auto;

  &__header {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1em;
  }

  &__list {
    padding: .75em;

    &_item {
      margin-bottom: 1.15em;
      font-size: 1.075rem;

      h6 {
        font-size: 1.2rem;
        margin-bottom: .25em;
      }

      &__text {
        font-size: .985rem;
      }

      .dashed_list {
        font-size: 0.975rem;

        &>li {
          margin-left: 0.2em;
          position: relative;
          display: flex;

          &::before {
            content: "-";
            margin-right: 0.2em;
          }

          &+li {
            margin-top: .45em;
          }
        }
      }
    }
  }

}

.left {
  .illustration {
    width: 600px;

    @media (max-width: 1440px) {
      width: 500px;
    }

    @media (max-width: 1080px) {
      width: 400px;
    }

    @media (max-width: 720px) {
      display: none;
    }
  }
}