.KYC__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  font-size: 1.25rem;
  position: relative;
  background-color: var(--clr-bg-blue);

  @media (max-width: 1440px) {
    font-size: .975rem;
    margin-top: 2.15em;
  }

  @media (max-width: 1080px) {
    font-size: .95rem;
    margin-top: 2.3em;
  }

  @media (max-width: 720px) {
    font-size: .925rem;
    margin-top: 2.45em;
  }

  @media (max-width: 600px) {
    font-size: .9rem;
    margin-top: 2.6em;
  }
}

.bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
  max-height: 100%;
  z-index: -1000;
}


.left {
  z-index: 10;
  max-width: 560px;
  height: 100%;
  margin-right: auto;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;

  @media (max-width: 1440px) {
    max-width: 520px;
  }

  @media (max-width: 1280px) {
    max-width: none;
  }

  &__list {
    padding: 0.75em;

    &_item {
      margin-bottom: 1.45em;

      h6 {
        font-size: 1.35rem;
        font-weight: 700;
        margin-bottom: .35em;

        &>span {
          font-weight: 900;
        }
      }
    }
  }

  .btn_contained {
    margin: 0.75em;

    background-color: #222;
    color: #fff;
    transition: all 300ms ease-out;

    &:hover {
      background-color: #000;
    }
  }
}