.contact_us__section {
  /* 100% of viewport minus Navbar height, minus Navbar top padding */
  background-color: var(--clr-bg);
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 2em;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 580px;
  margin-top: 6em;
  margin-right: 1em;
  margin-left: 1em;
  background-color: var(--clr-bg-form);

  @media (max-width: 1440px) {
    max-width: 570px;
    margin-top: 5em;
    margin-right: .95em;
    margin-left: .95em;
  }

  @media (max-width: 1080px) {
    max-width: 560px;
    margin-top: 4em;
    margin-right: .9em;
    margin-left: .9em;
  }

  @media (max-width: 720px) {
    max-width: 550px;
    margin-top: 3em;
    margin-right: .85em;
    margin-left: .85em;
  }

  @media (max-width: 600px) {
    max-width: 540px;
    margin-top: 2em;
    margin-right: 0.8em;
    margin-left: 0.8em;
  }

  .contact_us__header {
    width: 100%;
    background-color: #59587c;
    color: #fff;
    font-weight: 900;
    font-size: 1.75rem;
    padding: 1.35em 2em;
    margin-top: 1.75em;
  }

  form {
    margin-top: 2em;
    margin-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form * {
    color: #fff;
    border-color: #fff;
  }

  .textField {
    width: 96%;
    max-width: 300px;
    margin-left: 4em;
    margin-right: auto;
  }

  .submitBtn {
    background-color: var(--clr-primary);
    margin-left: 4em;
    margin-right: auto;
    margin-top: 2em;
  }

}

.right {
  .illustration {
    width: 560px;

    @media (max-width: 1440px) {
      width: 500px;
    }

    @media (max-width: 1080px) {
      width: 400px;
    }

    @media (max-width: 720px) {
      display: none;
    }
  }
}