.navbar {
  position: sticky;
  top: 0;
  min-height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transform: scaleY(1.025);
  transition: all 300ms ease-out;
  padding: 0.75em 6em;
  z-index: 100;

  @media (max-width: 1440px) {
    padding: 0.45em 6em;
  }

  @media (max-width: 1080px) {
    padding: 0.35em 4em;
  }

  @media (max-width: 720px) {
    padding: 0.25em 2em;
  }

  @media (max-width: 600px) {
    padding: 0.15em 1em;
  }
}

.sticky {
  background-color: var(--clr-bg);
  transform: scaleY(1);
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
}

.logo {
  height: 80px;

  &:not(.sticky) {
    transform: scaleY(0.9);
  }

  @media (max-width: 1440px) {
    height: 47.5px;
  }

  @media (max-width: 1080px) {
    height: 45px;
  }

  @media (max-width: 720px) {
    height: 42.5px;
  }

  @media (max-width: 600px) {
    height: 40px;
  }
}

.nav-menu {
  display: flex;
}

.nav-item {
  font-weight: 500;
  font-size: 1rem;
  transition: color 300ms ease-out;
}

.nav-item:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

.nav-item.left-spacing + .nav-item.left-spacing {
  margin-left: 1.75em;
}

.nav-item.top-spacing + .nav-item.top-spacing {
  margin-top: 1.75em;
}

.dropdown-item {
  margin-top: 0.75em;
  margin-left: 0.75em;
}

.activeNavItem {
  color: var(--clr-primary);
}
