.footer__section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #000;
  color: #fff;
}

.footer__section_upper {
  padding: 2em;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 600px) {
    padding: 1em;
  }

  &_left {
    flex: 1;
    max-width: 600px;
  }

  &_right {
    flex: 1;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    &_social_list {
      display: flex;
      margin-top: .75em;
      margin-right: 1em;
      align-self: flex-end;

      &_item {
        color: #fff !important;
      }

      &>li+li {
        margin-left: .05em;
      }
    }

    &_contact_list {
      width: 100;
      display: flex;
      flex-direction: column;
      margin-top: 1.15em;
      margin-right: 1em;
      align-self: flex-end;

      &_item {
        text-align: right;
        transition: color 300ms ease-out;
        cursor: pointer;

        &:nth-child(1):hover,
        &:nth-child(2):hover {
          color: var(--clr-primary);
        }
      }

      &>li+li {
        margin-top: .45em;
      }
    }
  }

  .root {
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    width: 96%;
    max-width: 600px;
    margin-left: auto;
    margin-right: 1em;
  }

  .icon_container {
    padding: .35em;

    &>svg {
      color: var(--clr-primary);
    }
  }

  .input {
    flex: 1;
    color: #fff;
    padding: .15em;
    font-size: 1.25rem;

    @media (max-width: 720px) {
      font-size: 1.1s5rem;
    }
  }

  .iconButton {
    padding: .75em 1.35em;

    @media (max-width: 720px) {
      padding: .75em 1.15em;
      font-size: .85rem;
    }
  }
}

.footer__section_lower {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.35em;
  border-top: 1px solid #f5f5f5;
  font-size: .85rem;

  @media(max-width: 1080px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    &_left {
      margin: 0 auto;
      margin-top: .75em;
    }
  }
}

.sub_header {

  &__container {
    position: relative;
    text-align: left;
  }

  &__text {
    color: var(--clr-primary);
    font-size: 1.2rem;
    margin-bottom: .75em;
    padding-left: 5.5vw;

    @media (max-width: 1440px) {
      font-size: 1.1rem;
      margin-bottom: .7em;
      padding-left: 5.5vw;
    }

    @media (max-width: 1080px) {
      font-size: 1.05rem;
      margin-bottom: .65em;
      padding-left: 5.5vw;
    }

    @media (max-width: 720px) {
      font-size: 1rem;
      margin-bottom: .75em;
      padding-left: 5.5vw;
    }

    @media (max-width: 600px) {
      font-size: .95rem;
      margin-bottom: .6em;
      padding-left: 5.5vw;
    }
  }


  &__line {
    position: absolute;
    top: 0.6rem;
    width: 5vw;
    background-color: var(--clr-primary);
    height: 1px;
  }
}

.head__text {
  font-weight: 700;
  line-height: 1.1;
  font-size: 2.45rem;
  margin-bottom: .5em;

  @media (max-width: 1440px) {
    font-size: 2.4rem;
    margin-bottom: .45em;
  }

  @media (max-width: 1080px) {
    font-size: 2.35rem;
    margin-bottom: .4em;
  }

  @media (max-width: 720px) {
    font-size: 2.3rem;
    margin-bottom: .375em;
  }

  @media (max-width: 600px) {
    font-size: 2.25rem;
    margin-bottom: .3em;
  }
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-right: 1em;
}

.nav-item {
  font-weight: 500;
  font-size: .95rem;
  transition: color 300ms ease-out;
  font-family: inherit;
}

.nav-item:hover {
  color: var(--clr-primary);
  cursor: pointer;
}

.nav-item.left-spacing+.nav-item.left-spacing {
  margin-left: 1.75em;

  @media (max-width: 1440px) {
    margin-left: 1.5em;
  }

  @media (max-width: 1080px) {
    margin-left: 1.25em;
  }

  @media (max-width: 720px) {
    margin-left: 1em;
  }

  @media (max-width: 600px) {
    margin-left: .85em;
  }
}

.dropdown-item {
  margin-top: .75em;
  margin-left: .75em;
}

.activeNavItem {
  color: var(--clr-primary);
}