* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --clr-primary: #6a54f0;
  --clr-bg: #f7f7ff;
  --clr-bg-blue: #39a1ff;
  --clr-bg-form: #434262;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-bg);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
}

.text_clr__brand {
  color: var(--clr-primary);
}

.uppercase {
  text-transform: uppercase;
}
