.our_mission__section {
  /* 100% of viewport minus Navbar height, minus Navbar top padding */
  background-color: var(--clr-bg);
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 4em;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 580px;
  margin-top: 4em;
  margin-right: 1em;

  @media (max-width: 1440px) {
    max-width: 570px;
    margin-top: 5em;
  }

  @media (max-width: 1080px) {
    max-width: 560px;
    margin-top: 4em;
  }

  @media (max-width: 720px) {
    max-width: 550px;
    margin-top: 3em;
  }

  @media (max-width: 600px) {
    max-width: 540px;
    margin-top: 2em;
  }

  .sub_header {
    &__container {
      position: relative;
      text-align: left;
    }

    &__text {
      color: var(--clr-primary);
      font-size: 1.2rem;
      margin-bottom: 0.75em;
      padding-left: 5.5vw;

      @media (max-width: 1440px) {
        font-size: 1.1rem;
        margin-bottom: 0.7em;
        padding-left: 5.5vw;
      }

      @media (max-width: 1080px) {
        font-size: 1.05rem;
        margin-bottom: 0.65em;
        padding-left: 5.5vw;
      }

      @media (max-width: 720px) {
        font-size: 1rem;
        margin-bottom: 0.75em;
        padding-left: 5.5vw;
      }

      @media (max-width: 600px) {
        font-size: 0.95rem;
        margin-bottom: 0.6em;
        padding-left: 5.5vw;
      }
    }

    &__line {
      position: absolute;
      top: 0.6rem;
      width: 5vw;
      background-color: var(--clr-primary);
      height: 1px;
    }
  }

  .head__text {
    font-weight: 900;
    line-height: 1.1;
    font-size: 2.85rem;
    margin-bottom: 0.5em;
    color: #000000;

    @media (max-width: 1440px) {
      font-size: 2.75rem;
      margin-bottom: 0.45em;
    }

    @media (max-width: 1080px) {
      font-size: 2.65rem;
      margin-bottom: 0.4em;
    }

    @media (max-width: 720px) {
      font-size: 2.5rem;
      margin-bottom: 0.375em;
    }

    @media (max-width: 600px) {
      font-size: 2.35rem;
      margin-bottom: 0.3em;
    }
  }

  .paragraph {
    color: #6c6c6c;
    font-weight: 500;
    font-size: 0.9rem;
  }

  &__list__head {
    font-size: 1.35rem;
    font-weight: 600;
    margin-bottom: 0.45em;
    margin-top: 0.75em;
  }

  &__list {
    padding: 0 0.75em 0.75em;
    list-style: decimal;
    margin-bottom: 0.75em;

    &>li {
      font-size: 0.975rem;
      color: #333;
    }
  }

  &__footer {
    &_head {
      font-size: 1.35rem;
      font-weight: 600;
      margin-bottom: 0.45em;
    }
  }
}

.left {
  display: flex;

  .illustration {
    width: 560px;
    align-self: center;

    @media (max-width: 1440px) {
      width: 500px;
    }

    @media (max-width: 1080px) {
      width: 400px;
    }

    @media (max-width: 720px) {
      display: none;
    }
  }
}